<div class="item">
	<!-- 日期分类 -->
	<div class="mark">{{time}}</div>
	<ul class="posts">
		<!-- 文章 -->
		<li ng-repeat="val in postss">
			<span href="javascript:;" class="tag" ng-if="val.column.name">{{val.column.name}}</span>
			<div class="cont">
				<h3>{{val.title}}</h3>
				<div class="brief">
					<!-- 纯文字 -->
					<p class="only" ng-if="val.display_style==10001">
						{{val.abstract}}
					</p>
					<!-- 纯图片 -->
					<div class="gallery" ng-if="val.display_style==10003">
						<img src="{{val.thumbs[0].small.url}}">
					</div>
					<!-- 文字加图片 -->
					<p ng-if="val.display_style==10002"></p>
					<div class="thumb" ng-if="val.display_style==10002">
						<img src="{{val.thumbs[0].small.url}}" alt="">
					</div>
				</div>							
			</div>
		</li>
	</ul>
</div>
			